<h1>Editing customer</h1>

<%= render "form", customer_form: @customer_form %>

<br>

<div>
  <%= link_to "Show this customer", @customer %> |
  <%= link_to "Back to customers", customers_path %>
</div>
